:root{
    --header-color: #be3144;
    --main-color1: #45567d;
    --main-color2: #303841;
    --image-container-color: #45567D;
    --button-hover-color: #BE3144;
    --header-hover-color: #554856;
    --image-text-color: #303841;
}

@media (prefers-reduced-motion: no-preference){
    *{
        scroll-behavior: smooth;
    }
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding:0;
    margin: 0;
    font-family: 'Raleway', sans-serif;  
}
main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
header{
    width: 100%;
    height: 70px;
    background-color: var(--header-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}
#navbar{
    margin-right: 2.5rem;
    width: 375px;
    height: 100%;
    margin-top:0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-top:0;
    width: 100%;
}
nav ul li{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    list-style-type: none;
    color: white;
    font-family: 'Poppins', sans-serif; 
    height: 100%;
    width: 110%;
    align-items: center;
}
nav ul li:hover{
    background-color: var(--image-container-color);
}
#welcome-section{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        65deg,
        var(--main-color2) 0%,
        black 100%
    );
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#welcome-section h1{
    font-size: 3.5rem;
    width: fixed;
    white-space: nowrap;
    font-weight: 800;
}
#welcome-section p{
    color: #b53041;
    font-style: italic;
    font-size: 1.8rem;
    margin-top: -40px;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}
#projects{
    background-color: var(--image-container-color);
    color:white;
    height: 100%;
    width: 100%;

}
#projects h2{
    width: 40%;
    margin: 6rem auto 3rem;
    border-bottom: 3px solid white;
    font-size: 2.5rem;
    text-align: center;
}
.project-tile{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-right: auto;
    margin-left:auto;
    justify-content: center;
    width: 80%;
    gap:2.5rem;

}
section{
    width: 410px;
    height: 450px;

}
img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.project-tile p{

    display: flex;
    font-weight: 200;
    font-size: 1.4rem;
    justify-content: center;
    background-color:var(--image-text-color);
    height: 4rem;
    margin-top:-7px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.show-all{
    margin: 3rem auto 3rem;
    display: block;
    width: 140px;
    height: 50px;
    font-size: 1.4rem;
    background-color: var(--image-text-color);
    border-radius: 5px;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.show-all:hover{
    background-color: var(--button-hover-color);
}
.work-together{
    height: 80vh;
    width: 100%;
    background: var(--main-color2);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.work-together h1{

    font-size: 4rem;
    width: 100%;
    text-align: center;
}
.work-together p{
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.work-together .first{
    color: white;
    font-style: italic;
    font-size: 1.3rem;
    margin-top: -40px;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
}
#social-icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    column-gap: 2rem;
    transition: transform 0.3s ease-out;
}

#social-icons a:hover{
    transform: translateY(6px)
}

a{
    text-decoration:none;
    color: inherit;  
}

i{
    margin-right: 0.5rem
}

footer{
    background-color: var(--main-color2);
    border-top: 6px solid var(--header-color);
    padding: 2rem 0;
    color: white;
    font-size: 1.1rem;
    }
.fake-portfolio{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1500px){

.project-tile{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-right: auto;
    margin-left:auto;
    justify-content: center;
    width: 60%;
    gap:2rem;   
}
}
@media (max-width:990px){
.project-tile{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-right: auto;
    margin-left:auto;
    justify-content: center;
    width: 60%;
    gap:2rem;   
}
section{
    width: 90vw;
    height: 770px;
}
img{
    width:90vw;
    height: 90%;
    object-fit: cover;
}
#social-icons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
    justify-content: center;
    align-items: center;
}
}